<div class="row">
    <div class="twelve wide centered column">
        <div class="ui three column grid">
            <div class="column"><h1>Conversions</h1></div>
            <div class="column">&nbsp;</div>
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <button
                            class="fluid ui button"
                            ng-click="jobsCtrl.createJob('HTML')"
                        ><i class="icon html5"></i>HTML</button>
                    </div>
                    <div class="column">
                        <button
                            class="fluid ui button"
                            ng-click="jobsCtrl.createJob('PDF')"
                        ><i class="file pdf outline icon"></i>PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
