<div class="twelve wide centered column">
    <table class="ui teal celled striped table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created At</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody ng-repeat="job in jobsCtrl.jobs">
            <tr>
                <td>{{job.name}}</td>
                <td class="right aligned collapsing">{{job.created | date : 'EEE, MMM d,h:mm a'}}</td>
                <td class="right aligned collapsing">
                    <i ng-class="{
                        'icon': true,
                        'file pdf outline ': job.type === 'PDF',
                        'html5': job.type === 'HTML'
                    }" title="{{job.type}}"></i>
                </td>
                <td ng-class="['right aligned collapsing', {
                    negative: job.status === 'ERRORED',
                    positive: job.status === 'SUCCEDED'
                }]">
                    <i ng-class="{
                        'checkmark': job.status === 'SUCCEDED',
                        'notched circle loading': job.status === 'RUNNING',
                        'warning sign': job.status === 'ERRORED',
                        'icon': true
                    }"></i>
                    {{job.status}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
